<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top justify-content-md-center justify-content-start" style="background-color: #f18973">
	    <div class="container">
		<a class="navbar-brand d-md-none d-inline" href="/patient"><h2>Bloom Clinic</h2></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="nav-link" href="#_"><i class="fa fa-search mr-1"></i></a> 

	      <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
			<ul class="navbar-nav mx-auto text-md-center text-left">
				<li class="nav-item">
					<a class="nav-item nav-link" href="/patient">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/therapists">Our Staff</a>
				</li>
				<li class="nav-item my-auto">
                	<a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="/patient">Bloom Clinic</a>
            	</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/contact">Contact Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/logout">Log Out</a>
				</li>
	        </ul>
	    </div>
	</div>
</nav>
</header>
<main>
<br><br><br>
<div class="container-main">
<h1>Our Practitioners</h1>
<br>
<% @therapists.each do |therapist| %>

    <a href="/therapists/<%= therapist.id %>"><button class="btn-therapist"><h4><%= therapist.name %></h4></button><br><br>
    
<% end %>
<br>
</div>
</main>