<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #f18973">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/patient">Bloom Clinic</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/patient">Home</a>
	          <a class="nav-item nav-link" href="/therapists">Our Staff</a>
	          <a class="nav-item nav-link" href="/contact">Contact Us</a>
	        </div>
	    </div>
	</div>
</nav>
</header>
<main>
<br><br><br>
<% if flash.has?(:login_error) %>
<%= flash[:login_error] %>
<% end %>

<form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="patient[username]">
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="patient[email]">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="patient[password]">
        <br>
        <br>
        <input type="submit" value="Sign Up" id="submit">
        

    </form>
</main>