<div class="container">
<% if flash.has?(:login_error) %>
    <%= flash[:login_error] %>
<% end %>
  <body id="page-top">
    <form action="/login" method="POST">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="patient[username]">
      <br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="patient[password]">
      <br>
      <input type="submit" value="Log In" id="submit">
    </form>
    <br>
    <p>Do not have an account? </p>
    <a href="/signup">Sign Up Here</a>
</div>