<h1>Hi, <%= @patient.username %>!</h1>
<h2>List of your Appointments</h2>
<% @appointments.each do |appointment| %>
    <ul>
    <li><%= appointment.date %>: <%= appointment.time %></li>
    </ul>
<% end %>