<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #f18973">
	    <div class="container-header">
	      <a class="navbar-brand mr-4" href="/patient">Bloom Clinic</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
		  <div class="collapse navbar-collapse" id="navbarDropDown">
		
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/patient">Home</a>
	          <a class="nav-item nav-link" href="/therapists">Our Staff</a>
			  <a class="nav-item nav-link" href="/contact">Contact Us</a>
			  <a class="nav-item nav-link" href="/logout">Log Out</a>
	        </div>
	    </div>
	</div>
</nav>
</header>
<main>
<br><br>
<div class="container">
<h1>Book an Appointment</h1>
<form action="/appointments" method="POST">
<h3>Which therapist would you like to see?*</h3>
<% @therapists.each do |therapist| %>
<br>
    
<input id="<%= therapist.name %>" type="radio" name="appointment[therapists][]" value="<%= therapist.id %>" required><%= therapist.name %>
<% end %>
<br>
<small>This is required.*</small>
<br><br>

<label for="appt_date"><h3>Select an appointment date:</h3></label>
<input type="date" id="appt_date" name="appointment[appt_date]" required>
<br><br>
<label for="appt_time"><h3>Select a time:</h3></label>
<input type="time" id="appt_time" name="appointment[appt_time]" min="09:00" max="18:00" required>
<small>Office Hours are 9am to 6pm</small>
<br><br>
<label for="concern"><h3>What is your Concern?</h3></label>
<input type="text" style="height:100px; width:350px;" id="concern" name="appointment[concern]">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
</main>