<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #f18973">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/patient">Bloom Clinic</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse"></div>
		  <div class="collapse navbar-collapse" id="navbarDropDown">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/patient">Home</a>
	          <a class="nav-item nav-link" href="/therapists">Our Staff</a>
			  <a class="nav-item nav-link" href="/contact">Contact Us</a>
			  <a class="nav-item nav-link" href="/logout">Log Out</a>
	        </div>
	    </div>
	</div>
</nav>
</header>
<main>
<br><br>
<div class="container-main">
	<h2>Appointment Booked!</h2>
	
</div>
</main>