<main>
<div id="container">
    <h1>Welcome to the Bloom Clinic</h1>
        <br>
            <p>Towards a Mindfully Empowered YOU.</p>
                <h3>Don't have an account?</h3><a href="/signup"><button>Sign Up Here</button></a>
                <br><br>
            <a href="/login"><button>Login</button></a>
    </div>
</main>