<h1>Welcome to the Bloom Clinic</h1>
<br>
<p>Description: In the hopes to remove the stigma surrounding mental disorders, Bloom aims to be a safe, affordable and accessible 
space for all individuals to discover their inner potential, unleash their minds and grow.</p>



<h3>Don't have an account?</h3><a href="/signup">Sign Up Here</a>
<br><br>
<a href="/login">Login</a>