<main>
    <div class="container">
        <div class="patient_signup">
            <h1>Welcome to the Bloom Clinic</h1>
                <br>
                <p>Towards a Mindfully Empowered YOU.</p>
            
                <a href="/login"><button type="button" class="btn">Login</button></a>
                    <br><br>
                    <h3>Don't have an account?</h3><a href="/signup"><button type="button" class="btn">Sign Up Here</button></a>
                
        </div>  
    </div>
</main>