<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  width: 150px;
  height: 45px;
  background-color: #E854B9;
  color: #E4E4E4;
  margin-top: 25px;
  border-radius: 10px;
  border: #E854B9 1px solid;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  <title>Bloom Clinic</title>
  <style>
    body {
    font-family: 'Lato';font-size: 18px;
    color: white;
      }

    .container {
      width: 600px;
      text-align: center;
      margin-left: 0 auto;
      margin-top: 50px;
      background: salmon;
      padding: 20px;
      border-radius: 25px;
      box-shadow: 0 0 10px gray;
    }

    .btn {
        width: 150px;
    height: 45px;
    background-color: #FFF8DC;
    color: #696969;
    margin-top: 25px;
    border-radius: 10px;
    border: #FFF8DC 1px solid;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input[type=submit] {
      width: 150px;
    height: 45px;
    background-color: #FFF8DC;
    color: #696969;
    margin-top: 25px;
    border-radius: 10px;
    border: #FFF8DC 1px solid;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


      .list-appt {
    flex: 1 1 0;
    background-color: salmon;
    overflow-y: scroll;
    height: 100%;
    }

    .list-appt-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 35px; 
    }


</style>
  </head>
  <body>


      <%= yield %>

  </body>
</html>


